html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: papyrus;
    background: linear-gradient(to bottom, white, rgb(72, 255, 243));
}

nav {
    background-color: lightseagreen;
    width: 100%;
    padding: 10px;
    font-family: papyrus;
    font-size: x-large;
}

nav h2 {
    color: white;
    font-family: papyrus;
}

main {
    margin: 0 20%;
}

main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

main h2 {
    color: lightseagreen;
    font-family: papyrus;
}